/* Scroll Up Button Styles */
.scroll-up {
    width: 45px;
    height: 45px;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    background-color: #1A8EFD;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 24px;
    z-index: 20;
    cursor: pointer;
    transition: 0.4s;
}

.show-scroll {
    display: flex;
    transform: translateY(-50px) translateX(10px);
}

.scroll-up:hover {
    background-color: #0f67c9;
}

@media screen and (max-width: 600px) {
    .scroll-up {
        bottom: 32px;
        right: 32px;
    }
}